<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		id="product"
		point="org.eclipse.core.runtime.products">
		<product
			application="org.eclipse.e4.ui.workbench.swt.E4Application"
			name="User Admin System">
			<property
				name="applicationXMI"
				value="platform:/plugin/io.github.kkusylabs.useradmin.client.ui/Application.e4xmi">
			</property>
			<property
				name="appName"
				value="User Admin System">
			</property>
			<property
				name="lifeCycleURI"
				value="bundleclass://io.github.kkusylabs.useradmin.client.ui/io.github.kkusylabs.useradmin.client.ui.lifecycle.E4LifeCycle">
			</property>
		</product>
	</extension>

</plugin>
